body{
    font: 20px 'Georgia';
}

h1,
h2{
    margin: 0;
}

p{
    line-height: 1.5em;
}

.base{
    background: #eeeeee;

}

.bloco1{
    background: orange;
    width: 200px;
    float: left;
}

.bloco2{
    background: green;
    margin-left: 200px;

}

.bloco3{
    background: red;
}

 #image {
    float: left;
    margin: 10px;
 }